.logo-area{
  text-align: center;
}
.logo-area:hover{
  cursor: pointer;
}
.menu-area{
  display: flex;
  justify-content: center;
}
.menu-list{
  display: flex;
}
.menu-list li{
  list-style-type:none;
  margin: 1em;
}
.menu-list li:hover{
  cursor:pointer;
}
.transport-route{
  padding-bottom: 0.5em;
  border-bottom: 1px solid grey;
}
.transport-route-mini-title{
  font-size: 20px;
  margin-left: 5px;
}
.countries-point{
  padding: 0.5em;
  border-bottom: 1px solid lightgrey;
}
.length{
  position: relative;
}
.x{
  position:absolute;
  right: -17px;
  bottom: 10px;
}
.delete-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.description{
  font-size: 12px;
}
.totalcost-top{
  display: flex;
  justify-content: space-around;
}
.unit-price-fuel-security{
  border: none;
  width: 100px;
}
.cost-headline
{
  border:none ;
}
.cost-headline td
{
  border:none ;
}
.remark-font-size{
  font-size: 12px;
}
.emphasise{
  background-color: rgb(225, 243, 255);
}